*{
    margin: 0;
    padding: 0;
    
    
}
body{
    display: flex;
    background:green;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.csscard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.card{
    position: relative;
    width : 320px;
    height: 450px;
    margin: 30px;
    padding: 50px;
    background: blue;
    border-radius: 20px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    box-shadow: 0 10px 0 rgb(211, 9, 9);
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

.card:nth-child(1){
    background-color: blueviolet;
}
.card:nth-child(2){
  background-color: blue;
}
.card:nth-child(3){
    background:palevioletred;
}
.icon{
    position: relative;
    width: 140px;
    height: 140px;
    background:green;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    
    justify-content: center;
    display: flex;
}

.icon ion-icon{
    color: orangered;
    position: relative;
    font-size: 6em;
    
}
.content{
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 150px;

}
.content>p{
    color:rgb(224, 222, 210);
}